In [ ]:

import numpy as np
import pandas as pd 
import seaborn as sns 

import matplotlib.pyplot as plt
from datetime import datetime, timedelta
from sklearn.metrics import mean_squared_error
# from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor

import time	
import warnings
warnings.filterwarnings("ignore")

%matplotlib inline 
from pylab import rcParams

rcParams['figure.dpi'] = 120
rcParams['savefig.dpi'] = 120 
rcParams['font.size'] = 20


from tqdm import tqdm

In [ ]:
df = pd.read_csv('../datasets/sales_train_validation.csv')
print(df.shape)
df.head()

In [ ]:
submission = pd.read_csv('../datasets/sample_submission.csv')
print(submission.shape)
submission.head()

In [ ]:
price_df = pd.read_csv('../datasets/sell_prices.csv')
print(price_df.shape)
price_df.head()

In [ ]:
cal_df = pd.read_csv('../datasets/calendar.csv')
print(cal_df.shape)
cal_df.head(5)

In [ ]:
cal_df["d"]=cal_df["d"].apply(lambda x: int(x.split("_")[1])) # d_1 to 1
cal_df.head()

In [ ]:
price_df["id"] = price_df["item_id"] + "_" + price_df["store_id"] + "_validation"

In [ ]:
price_df.head()

In [ ]:
days_cols = df.columns[df.columns.str.contains("d_")].values
df_days = df[days_cols]
df_days

In [ ]:
unit_sales_df =pd.DataFrame()

for day in tqdm(range(1858, 1886)):
    wk_id = list(cal_df[cal_df["d"]==day]["wm_yr_wk"])[0]
#     print("wk_id",wk_id)
    wk_price_df = price_df[price_df["wm_yr_wk"]==wk_id]
#     print("wk_price_df",wk_price_df)
    df = df.merge(wk_price_df[["sell_price", "id"]], on=["id"], how='inner')
#     df["unit_sales_" + str(day)] = df["sell_price"] * df["d_" + str(day)]
    unit_sales_df["unit_sales_" + str(day)] = df["sell_price"] * df["d_" + str(day)]
    df.drop(columns=["sell_price"], inplace=True)

In [ ]:
df

In [ ]:
unit_sales_df

In [ ]:
df["dollar_sales"] = unit_sales_df.sum(axis=1)

In [ ]:
print(df.shape)
print(df.columns)
df.head()

In [ ]:
df["weight"] = df["dollar_sales"] / df["dollar_sales"].sum()

In [ ]:
print(df.shape)
print(df.columns)
df.head()

In [ ]:
df.drop(columns=["dollar_sales"], inplace=True)
print(df.shape)
print(df.columns)
df.head()

## ML

In [ ]:
# from sklearn.ensemble import RandomForestRegressor, ExtraTreesRegressor, GradientBoostingRegressor

In [ ]:
# train_start = 100
# train_end = 1885
# df.columns

In [ ]:
# df_ml_x = df.drop(columns=['id', 'item_id', 'dept_id', 'cat_id', 'store_id', 'state_id',"weight"] + [c for c in df.columns if c.find("d_") == 0 and int(c.split("_")[1])not in range(train_start,train_end+1)])
# df_ml_y = df[[c for c in df.columns if c.find("d_") == 0 and int(c.split("_")[1]) not in range(train_end+1, train_end+28+1)] ]

In [ ]:
# regressor = ExtraTreesRegressor(n_estimators=100,max_depth=50,max_features=50,random_state=42)

In [ ]:
# regressor.fit(df_ml,df_ml_y)

In [ ]:
# pred_df= pd.DataFrame(regressor.predict( 
#     df.drop(columns=['id', 'item_id', 'dept_id', 'cat_id', 'store_id', 'state_id',"weight"] + [c for c in df.columns if c.find("d_") == 0 and int(c.split("_")[1])not in range(train_start+28,train_end+28+1)])))

# pred_df.columns=["F_"+str(d) for d in  range(train_end+1,train_end+28+1)]

# # df+df.join(pred_df)

## step2

In [ ]:
for d in range(1886, 1914):
    df["F_" + str(d)] = 0

In [ ]:
print(df.shape)
# print(df.columns)
df.head()

In [ ]:
# df[[c for c in df.columns if c.find("d_") == 0 and int(c.split("_")[1])<1885] + ['id'] ].set_index("id").transpose()

In [ ]:
complete_historical_mean_df = df[[c for c in df.columns if c.find("d_") == 0 and int(c.split("_")[1])<1885] + ['id'] ].set_index("id").transpose().mean().reset_index()

In [ ]:
complete_historical_mean_df.head()

In [ ]:
# df[[c for c in df.columns if c.find("d_") == 0 ]].sum(axis=1).min() # not have null
df_days.sum(axis=1).min()

In [ ]:
def find_first_non_0(s):
    assert type(s)==np.ndarray
    return (s!=0).argmax(axis=0)

In [ ]:
non_0_strt_arr =[]
# hist_arr=np.array(df[[c for c in df.columns if c.find("d_") == 0 ]])
hist_arr=np.array(df_days)
for i in range(len(df)):
    non_0_strt_arr.append(find_first_non_0(hist_arr[i,:]))
non_0_strt_arr[0]
# hist_arr

In [ ]:
# list(df[[c for c in df.columns if c.find("d_") == 0 ] + ['id']].set_index('id').transpose()['HOBBIES_1_001_CA_1_validation'])[non_0_strt_arr[0]]

In [ ]:
test = list(df[[c for c in df.columns if c.find("d_") == 0 ] + ['id']].set_index('id').transpose()['HOBBIES_1_001_CA_1_validation'])

In [ ]:
print(test[non_0_strt_arr[0]])
print(non_0_strt_arr[0])
print(sum(test[:non_0_strt_arr[0]] ))
print(sum(test[non_0_strt_arr[0]: ] ))

In [ ]:
num_non_zero =1885-np.array(non_0_strt_arr)
num_non_zero

In [ ]:
non_zero_historical_mean_arr = np.array(df[[c for c in df.columns if c.find("d_") == 0 and int(c.split("_")[1])<1885] + ['id'] ].set_index("id").transpose().mean().reset_index()[0])/num_non_zero
non_zero_historical_mean_arr

In [ ]:
for d in range(1,29):
    df['F_1_'+str(1885+d)] = list(complete_historical_mean_df[0])
    df['F_2_'+str(1885+d)] = non_zero_historical_mean_arr

In [ ]:
method_dict={1:"complete hsitorical mean",2:"historical mean after first non-zero"}

historical_mean_df10= df[[c for c in df.columns if c.find("d_") == 0 and int(c.split("_")[1]) in range(1876,1886) ] + ['id'] ].set_index("id").transpose().mean().reset_index()
historical_mean_df20= df[[c for c in df.columns if c.find("d_") == 0 and int(c.split("_")[1]) in range(1866,1886) ] + ['id'] ].set_index("id").transpose().mean().reset_index()
historical_mean_df30= df[[c for c in df.columns if c.find("d_") == 0 and int(c.split("_")[1]) in range(1856,1886) ] + ['id'] ].set_index("id").transpose().mean().reset_index()
historical_mean_df40= df[[c for c in df.columns if c.find("d_") == 0 and int(c.split("_")[1]) in range(1846,1886) ] + ['id'] ].set_index("id").transpose().mean().reset_index()

In [ ]:
for d in range(1,29):
    df['F_3_'+str(1885+d)] = list(historical_mean_df10[0])
    df['F_4_'+str(1885+d)] = list(historical_mean_df20[0])
    df['F_5_'+str(1885+d)] = list(historical_mean_df30[0])
    df['F_6_'+str(1885+d)] = list(historical_mean_df40[0])

In [ ]:
for d in range(1,29):
    df['F_7_'+str(1885+d)] = df["d_"+str(1885+d-28)]

In [ ]:
method_dict[3] = "historical mean of recent 10 days"
method_dict[4] = "historical mean of recent 20 days"
method_dict[5] = "historical mean of recent 30 days"
method_dict[6] = "historical mean of recent 40 days"
method_dict[7] = "same as previous 28days"

In [ ]:
df

## step3

In [93]:
agg_df = pd.DataFrame(
    df[[c for c in df.columns if c.find("d_") == 0 or c.find("F_") == 0]].sum()
    ).transpose()
agg_df

,d_1,d_2,d_3,d_4,d_5,d_6,d_7,d_8,d_9,d_10,...,d_1904,d_1905,d_1906,d_1907,d_1908,d_1909,d_1910,d_1911,d_1912,d_1913
0,32631,31749,23783,25412,19146,29211,28010,37932,32736,25572,...,41789,48362,51640,38059,37570,35343,35033,40517,48962,49795

In [78]:
agg_df["level"] = 1
agg_df["weight"] = 1/12
column_order = agg_df.columns

In [80]:
level_groupings = {2: ["state_id"], 3: ["store_id"], 4: ["cat_id"], 5: ["dept_id"], 
              6: ["state_id", "cat_id"], 7: ["state_id", "dept_id"], 8: ["store_id", "cat_id"], 9: ["store_id", "dept_id"],
              10: ["item_id"], 11: ["item_id", "state_id"]}

In [81]:
df.groupby(by=level_groupings[11]).sum()

                          d_1  d_2  d_3  d_4  d_5  d_6  d_7  d_8  d_9  d_10  \
item_id         state_id
FOODS_1_001     CA          6    3    2    3    7    5    8    3    5     2
                TX          0    1    2    2    0    4    0    0    4     3
                WI          0    2    0    1    0    9    2    1    2     5
FOODS_1_002     CA          3    3    4    4    3    3    0    2    1     1
                TX          0    0    2    0    0    0    0    1    0     0
...                       ...  ...  ...  ...  ...  ...  ...  ...  ...   ...
HOUSEHOLD_2_515 TX          0    0    0    0    0    0    0    0    0     0
                WI          0    0    0    0    0    0    0    0    0     0
HOUSEHOLD_2_516 CA          0    2    0    1    1    1    0    2    1     2
                TX          2    1    0    0    0    0    1    1    0     0
                WI          0    1    0    2    0    1    1    1    0     0

                          ...  d_1906  d_1907  d_1908  d_1909  d_1910  d_1911  \
item_id         state_id  ...
FOODS_1_001     CA        ...      27       6       2       2       4       2
                TX        ...       2       1       0       0       2       0
                WI        ...       1       0       3       1       0       0
FOODS_1_002     CA        ...       2       0       0       2       2       1
                TX        ...       0       0       2       1       0       0
...                       ...     ...     ...     ...     ...     ...     ...
HOUSEHOLD_2_515 TX        ...       0       0       0       0       0       0
                WI        ...       0       0       0       1       1       1
HOUSEHOLD_2_516 CA        ...       0       0       0       0       1       1
                TX        ...       1       0       0       1       0       0
                WI        ...       0       0       0       0       1       0

                          d_1912  d_1913    weight  dollar_sales
item_id         state_id
FOODS_1_001     CA             3       5  0.000060        219.52
                TX             1       0  0.000028        103.04
                WI            12       1  0.000015         56.00
FOODS_1_002     CA             2       1  0.000155        568.80
                TX             0       0  0.000036        132.72
...                          ...     ...       ...           ...
HOUSEHOLD_2_515 TX             0       0  0.000003          9.85
                WI             1       0  0.000005         19.70
HOUSEHOLD_2_516 CA             0       1  0.000028        100.98
                TX             0       0  0.000029        106.92
                WI             0       0  0.000008         29.70

[9147 rows x 1915 columns]

In [82]:
for level in tqdm(level_groupings):
    temp_df = df.groupby(by=level_groupings[level]).sum().reset_index(drop=True)
    temp_df["level"] = level
    temp_df["weight"] /= 12
    agg_df = agg_df.append(temp_df[column_order])

del temp_df

100%|██████████| 10/10 [00:18<00:00,  1.84s/it]

In [83]:
print(agg_df.shape)
print(agg_df.columns)
agg_df.head(20)

(12350, 1915)
Index(['d_1', 'd_2', 'd_3', 'd_4', 'd_5', 'd_6', 'd_7', 'd_8', 'd_9', 'd_10',
       ...
       'd_1906', 'd_1907', 'd_1908', 'd_1909', 'd_1910', 'd_1911', 'd_1912',
       'd_1913', 'level', 'weight'],
      dtype='object', length=1915)

,d_1,d_2,d_3,d_4,d_5,d_6,d_7,d_8,d_9,d_10,...,d_1906,d_1907,d_1908,d_1909,d_1910,d_1911,d_1912,d_1913,level,weight
0,32631,31749,23783,25412,19146,29211,28010,37932,32736,25572,...,51640,38059,37570,35343,35033,40517,48962,49795,1,0.083333
0,14195,13805,10108,11047,9925,11322,12251,16610,14696,11822,...,23032,17052,15784,15148,14488,17095,21834,23187,2,0.036146
1,9438,9630,6778,7381,5912,9006,6226,9440,9376,7319,...,13709,9868,10922,9600,9602,10615,12266,12282,2,0.023281
2,8998,8314,6897,6984,3309,8883,9533,11882,8664,6431,...,14899,11139,10864,10595,10943,12807,14862,14326,2,0.023907
0,4337,4155,2816,3051,2630,3276,3450,5437,4340,3157,...,5954,4345,3793,3722,3709,4387,5577,6113,3,0.009092
1,3494,3046,2121,2324,1942,2288,2629,3729,2957,2218,...,5760,3830,3631,3691,3303,4457,5884,6082,3,0.008529
2,4739,4827,3785,4232,3817,4369,4703,5456,5581,4912,...,8271,6068,5683,5235,5018,5623,7419,7721,3,0.013165
3,1625,1777,1386,1440,1536,1389,1469,1988,1818,1535,...,3047,2809,2677,2500,2458,2628,2954,3271,3,0.005360
4,2556,2687,1822,2258,1694,2734,1691,2820,2887,2174,...,4192,3410,3257,2901,2776,3022,3700,4033,3,0.006599
5,3852,3937,2731,2954,2492,3439,2588,3772,3657,2932,...,4998,3311,3727,3384,3446,3902,4483,4292,3,0.008438
6,3030,3006,2225,2169,1726,2833,1947,2848,2832,2213,...,4519,3147,3938,3315,3380,3691,4083,3957,3,0.008244
7,2704,2194,1562,1251,2,2049,2815,3248,1674,1355,...,4812,3236,3069,3242,3324,3991,4772,4874,3,0.007164
8,2256,1922,2018,2522,1175,2244,2232,2643,2140,1836,...,5566,4347,4464,4194,4393,4988,5404,5127,3,0.009751
9,4038,4198,3317,3211,2132,4590,4486,5991,4850,3240,...,4521,3556,3331,3159,3226,3828,4686,4325,3,0.006992
0,23178,22758,17174,18878,14603,22093,20490,27751,24862,18901,...,34497,26151,24948,23632,23317,26704,31927,32654,4,0.047475
1,3764,3357,2682,2669,1814,3220,2944,3986,2899,2615,...,4820,3323,3787,3472,3353,4085,4787,4683,4,0.010722
2,5689,5634,3927,3865,2729,3898,4576,6195,4975,4056,...,12323,8585,8835,8239,8363,9728,12248,12458,4,0.025136
0,2343,2216,1657,1508,1209,1897,1903,2235,1925,1586,...,3062,2461,2544,2657,2639,3169,3712,3185,5,0.005566
1,4094,4209,3174,3606,2869,4375,3349,4384,4273,3684,...,6588,5247,4942,4734,4446,4974,5524,6473,5,0.012973
2,16741,16333,12343,13764,10525,15821,15238,21132,18664,13631,...,24847,18443,17462,16241,16232,18561,22691,22996,5,0.028936

In [117]:
df["weight"] /= 12

In [118]:
print(df.shape)
print(df.columns)
df.head()

(30490, 2144)
Index(['id', 'item_id', 'dept_id', 'cat_id', 'store_id', 'state_id', 'd_1',
       'd_2', 'd_3', 'd_4',
       ...
       'F_7_1904', 'F_7_1905', 'F_7_1906', 'F_7_1907', 'F_7_1908', 'F_7_1909',
       'F_7_1910', 'F_7_1911', 'F_7_1912', 'F_7_1913'],
      dtype='object', length=2144)

,id,item_id,dept_id,cat_id,store_id,state_id,d_1,d_2,d_3,d_4,...,F_7_1904,F_7_1905,F_7_1906,F_7_1907,F_7_1908,F_7_1909,F_7_1910,F_7_1911,F_7_1912,F_7_1913
0,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,3,1,3,1,2,2,0,1,1,1
1,HOBBIES_1_002_CA_1_validation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,0,0,0,0,0,0,1,1,1,1
2,HOBBIES_1_003_CA_1_validation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,1,0,0,0,0,0,0,1,1,0
3,HOBBIES_1_004_CA_1_validation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,4,2,1,4,1,3,5,0,6,6
4,HOBBIES_1_005_CA_1_validation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,3,2,2,2,3,1,0,0,0,0

In [119]:
print(df.shape[0], agg_df.shape[0], df.shape[0] + agg_df.shape[0])

30490 12350 42840

In [120]:
agg_df["weight"].sum() + df["weight"].sum()

0.9999999999999996

## step4

In [84]:
h = 28
n = 1885
def rmsse(ground_truth, forecast, train_series, axis=1):
    # assuming input are numpy array or matrices
    assert axis == 0 or axis == 1
    assert type(ground_truth) == np.ndarray and type(forecast) == np.ndarray and type(train_series) == np.ndarray
    
    if axis == 1:
        # using axis == 1 we must guarantee these are matrices and not arrays
        assert ground_truth.shape[1] > 1 and forecast.shape[1] > 1 and train_series.shape[1] > 1
    
    numerator = ((ground_truth - forecast)**2).sum(axis=axis)
    if axis == 1:
        denominator = 1/(n-1) * ((train_series[:, 1:] - train_series[:, :-1]) ** 2).sum(axis=axis)
    else:
        denominator = 1/(n-1) * ((train_series[1:] - train_series[:-1]) ** 2).sum(axis=axis)
    return (1/h * numerator/denominator) ** 0.5

In [121]:
train_series_cols = days_cols[:-28] # X_train
ground_truth_cols = df_days[-28:] # y_train
forecast_cols = df.columns[df.columns.str.contains("F_")].values # y_pred

# train_series_cols = [c for c in df.columns if c.find("d_") == 0][:-28]
# ground_truth_cols = [c for c in df.columns if c.find("d_") == 0][-28:]
# forecast_cols = [c for c in df.columns if c.find("F_") == 0]

In [122]:
print(len(days_cols))
# days_cols

1913

In [123]:
print(len(train_series_cols))
print(len(ground_truth_cols))
print(len(forecast_cols))

1885
28
28

In [ ]:
df["rmsse"] = rmsse(np.array(df[ground_truth_cols]), 
                   np.array(df[forecast_cols]), np.array(df[train_series_cols]))
agg_df["rmsse"] = rmsse(np.array(agg_df[ground_truth_cols]), 
                   np.array(agg_df[forecast_cols]), np.array(agg_df[train_series_cols]))

In [ ]:
df

In [125]:
agg_df

,d_1,d_2,d_3,d_4,d_5,d_6,d_7,d_8,d_9,d_10,...,F_7_1906,F_7_1907,F_7_1908,F_7_1909,F_7_1910,F_7_1911,F_7_1912,F_7_1913,level,weight
0,32631.0,31749.0,23783.0,25412.0,19146.0,29211.0,28010.0,37932.0,32736.0,25572.0,...,47825.0,37360.0,35475.0,34786.0,34003.0,45611.0,53863.0,46360.0,1,8.333333e-02
0,14195.0,13805.0,10108.0,11047.0,9925.0,11322.0,12251.0,16610.0,14696.0,11822.0,...,19421.0,16541.0,15581.0,15141.0,15228.0,18694.0,23787.0,21296.0,2,3.614587e-02
1,9438.0,9630.0,6778.0,7381.0,5912.0,9006.0,6226.0,9440.0,9376.0,7319.0,...,13428.0,9973.0,9826.0,10341.0,9305.0,12235.0,13595.0,13336.0,2,2.328074e-02
2,8998.0,8314.0,6897.0,6984.0,3309.0,8883.0,9533.0,11882.0,8664.0,6431.0,...,14976.0,10846.0,10068.0,9304.0,9470.0,14682.0,16481.0,11728.0,2,2.390672e-02
0,4337.0,4155.0,2816.0,3051.0,2630.0,3276.0,3450.0,5437.0,4340.0,3157.0,...,6197.0,4242.0,3776.0,3770.0,3970.0,4904.0,6139.0,4669.0,3,9.091642e-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9142,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11,2.239415e-07
9143,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,11,4.478830e-07
9144,0.0,2.0,0.0,1.0,1.0,1.0,0.0,2.0,1.0,2.0,...,1.0,0.0,0.0,1.0,1.0,0.0,3.0,2.0,11,2.295798e-06
9145,2.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,2.0,0.0,1.0,11,2.430845e-06
9146,0.0,1.0,0.0,2.0,0.0,1.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11,6.752347e-07

In [126]:
# for row_idx in range(len(df)):
#     row_df = pd.DataFrame(df.iloc[row_idx]).transpose()
#     train_series = np.array(row_df[train_series_cols].transpose()[row_idx])
#     ground_truth_series = np.array(row_df[ground_truth_cols].transpose()[row_idx])
#     forecast_series = np.array(row_df[forecast_cols].transpose()[row_idx])
#     print(rmsse(ground_truth_series, forecast_series, train_series, axis=0))

In [127]:
df["wrmsse"] = df["weight"] * df["rmsse"]
agg_df["wrmsse"] = agg_df["weight"] * agg_df["rmsse"]

KeyError: 'rmsse'

In [128]:
df["wrmsse"].sum() + agg_df["wrmsse"].sum()

KeyError: 'wrmsse'

In [129]:
sample_sub = pd.read_csv('../datasets/sample_submission.csv')
print(sample_sub.shape)
sample_sub.head()

(60980, 29)

,id,F1,F2,F3,F4,F5,F6,F7,F8,F9,...,F19,F20,F21,F22,F23,F24,F25,F26,F27,F28
0,HOBBIES_1_001_CA_1_validation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,HOBBIES_1_002_CA_1_validation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,HOBBIES_1_003_CA_1_validation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,HOBBIES_1_004_CA_1_validation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,HOBBIES_1_005_CA_1_validation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [130]:
sample_sub.tail()

,id,F1,F2,F3,F4,F5,F6,F7,F8,F9,...,F19,F20,F21,F22,F23,F24,F25,F26,F27,F28
60975,FOODS_3_823_WI_3_evaluation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
60976,FOODS_3_824_WI_3_evaluation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
60977,FOODS_3_825_WI_3_evaluation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
60978,FOODS_3_826_WI_3_evaluation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
60979,FOODS_3_827_WI_3_evaluation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [131]:
(sample_sub['id'][:len(df)] == df['id']).all()
print(df.shape)

(30490, 2144)

In [132]:
df.head()

,id,item_id,dept_id,cat_id,store_id,state_id,d_1,d_2,d_3,d_4,...,F_7_1904,F_7_1905,F_7_1906,F_7_1907,F_7_1908,F_7_1909,F_7_1910,F_7_1911,F_7_1912,F_7_1913
0,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,3,1,3,1,2,2,0,1,1,1
1,HOBBIES_1_002_CA_1_validation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,0,0,0,0,0,0,1,1,1,1
2,HOBBIES_1_003_CA_1_validation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,1,0,0,0,0,0,0,1,1,0
3,HOBBIES_1_004_CA_1_validation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,4,2,1,4,1,3,5,0,6,6
4,HOBBIES_1_005_CA_1_validation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,3,2,2,2,3,1,0,0,0,0

In [133]:
sample_sub['id'][len(df):]

30490    HOBBIES_1_001_CA_1_evaluation
30491    HOBBIES_1_002_CA_1_evaluation
30492    HOBBIES_1_003_CA_1_evaluation
30493    HOBBIES_1_004_CA_1_evaluation
30494    HOBBIES_1_005_CA_1_evaluation
                     ...
60975      FOODS_3_823_WI_3_evaluation
60976      FOODS_3_824_WI_3_evaluation
60977      FOODS_3_825_WI_3_evaluation
60978      FOODS_3_826_WI_3_evaluation
60979      FOODS_3_827_WI_3_evaluation
Name: id, Length: 30490, dtype: object

In [140]:
df.head()

,id,item_id,dept_id,cat_id,store_id,state_id,d_1,d_2,d_3,d_4,...,F_7_1904,F_7_1905,F_7_1906,F_7_1907,F_7_1908,F_7_1909,F_7_1910,F_7_1911,F_7_1912,F_7_1913
0,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,3,1,3,1,2,2,0,1,1,1
1,HOBBIES_1_002_CA_1_validation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,0,0,0,0,0,0,1,1,1,1
2,HOBBIES_1_003_CA_1_validation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,1,0,0,0,0,0,0,1,1,0
3,HOBBIES_1_004_CA_1_validation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,4,2,1,4,1,3,5,0,6,6
4,HOBBIES_1_005_CA_1_validation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,3,2,2,2,3,1,0,0,0,0

In [134]:
submit_df = df[['id']]
for i in range(1,29):
    submit_df['F'+str(i)]= df['F_7_'+str(1885+i)]

In [137]:
submit_df2 = submit_df.copy()
submit_df2['id'] = submit_df2['id'].apply(lambda x:x.replace("validation","evaluation"))

In [138]:
submit_df = submit_df.append(submit_df2).reset_index(drop=True)

In [139]:
submit_df

,id,F1,F2,F3,F4,F5,F6,F7,F8,F9,...,F19,F20,F21,F22,F23,F24,F25,F26,F27,F28
0,HOBBIES_1_001_CA_1_validation,0,2,0,1,1,0,1,0,0,...,3,1,3,1,2,2,0,1,1,1
1,HOBBIES_1_002_CA_1_validation,0,0,0,1,0,0,1,1,0,...,0,0,0,0,0,0,1,1,1,1
2,HOBBIES_1_003_CA_1_validation,0,0,0,0,0,6,1,1,2,...,1,0,0,0,0,0,0,1,1,0
3,HOBBIES_1_004_CA_1_validation,0,0,0,1,0,1,5,3,1,...,4,2,1,4,1,3,5,0,6,6
4,HOBBIES_1_005_CA_1_validation,1,2,1,0,0,1,0,2,1,...,3,2,2,2,3,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60975,FOODS_3_823_WI_3_evaluation,0,0,2,0,0,2,1,1,0,...,0,0,0,0,0,0,0,0,0,0
60976,FOODS_3_824_WI_3_evaluation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
60977,FOODS_3_825_WI_3_evaluation,1,2,2,2,2,2,2,1,1,...,2,0,0,2,0,0,0,2,0,1
60978,FOODS_3_826_WI_3_evaluation,2,2,2,2,0,2,2,0,0,...,1,1,1,1,0,2,1,1,2,4
60979,FOODS_3_827_WI_3_evaluation,2,0,5,4,1,3,0,0,0,...,0,1,4,2,0,5,3,2,0,5

In [141]:
submit_df.to_csv("submission.csv",index=False)